.buttons__button-center {
  padding: 3px 15px;
}

.buttons__button-new-store {
  padding: 11px 10px;
  border-radius: 50%;
  font-size: 30px;
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 15px;
  background-color: lightgray;
  border: 1px solid #222;
}

.button__input-file-hidden {
  display: none;
}
