.navbar-user-profile__main-container {
  width: 100%;
  background-color: rgb(41, 41, 218);
  position: fixed;
  z-index: 200;
  top: 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

//User profile nav

.nav-user-profile__links-container {
  width: 50%;
  // background-color: yellow;
  height: 100%;
}

.nav-user-profile__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  height: 100%;
}

.nav-user-profile__links-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  //   background-color: blue;
  justify-content: space-around;
  color: #555;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

.nav-user-profile__link {
  // background-color: green !important;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

.nav-user-profile__link a {
  color: #8e8e8e;
  text-decoration: none;
  transition: color 0.3s;
  padding: 5px 10px;
  border-radius: 10px;
}

.nav-user-profile__link a:hover {
  background-color: #004bc4;
  color: #40bad9;
}

.nav-user-profile__button {
  margin-right: 15px;
  padding: 0px 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.2em;
  height: 35px;
  align-self: center;
  text-align: center;
  background-color: #21117e;
  color: white;
}

//Form data nav

.nav-form-data__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 360px;
  height: 100%;
}

.visit-store__button {
  position: absolute;
  top: 60px;
  right: 15px;
}

.show-viewers__button {
  right: 200px;
}

.nav-store__buttons-container {
  width: 300px;
}

.nav-store__button {
  width: 500px !important;
}
