.nothing-selected__main-container {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.nothing-selected__welcome-img {
  width: 15%;
  min-width: 200px;
}
