.store-catalog__main-content {
  display: flex;
  background-color: red;
}

//Nothing selected
.nothing-selected__main-container {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 50%;
}

.nothing-selected__welcome-img {
  width: 10%;
  min-width: 100px;
  margin-top: -200px;
}

//Sidebar
.store-catalog__sidebar {
  color: white;
  background-color: #333;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: 500px;
  width: 50%;
  height: 100vh;
}

.store-catalog__sidebar-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store-catalog__sidebar-navbar h3 {
  font-weight: lighter;
}

.store-catalog__search-button {
  margin-right: 10px;
  padding: 7px 10px;
  border-radius: 3px;
  margin-top: 10px;
  outline: none;
  border: 1px solid darkgray;
  color: #fff;
  height: 40px;
  background-color: transparent;
}

.store-catalog__search-button:hover {
  background-color: rgb(78, 77, 77);
  transition: all 0.2s ease-in;
}

//new entry
.store-catalog__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 100%;

  transition: color 0.3 ease;

  &:hover {
    color: darken($color: white, $amount: 20);
  }
}

.store-catalog__entries {
  margin-top: 30px;
  flex: 1 1 auto;
  overflow-y: scroll;
  background-color: green;
  border-radius: 5px;
}

.store-catalog__store-entry {
  background-color: white;
  border-radius: 4px;
  color: $dark-gray;
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
  margin-right: 10px;
  height: 300px;
}

.store-catalog__store-entry-picture {
  height: 300px;
  width: 50%;
  background-position: center;
  outline: 1px solid black;
  overflow: hidden;
}

.store-catalog__store-entry-body {
  padding-left: 7px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.store-catalog__store-entry-description {
  margin-right: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: unset;
}

.store-catalog__store-entry-title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 3px;
}

.store-catalog__store-entry-content {
  font-size: 12px;
  padding-left: 3px;
}

.store-catalog__store-entry-date-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  font-size: 10px;
}

.store-catalog__sidebar-user-info {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 5px;
  border-radius: 5px;
}

.store-catalog__sidebar-user-info:hover {
  background-color: rgb(56, 56, 56);
}

.store-catalog__img-profile {
  width: 70px;
  padding: 10px;
  margin: -5px;
  border-radius: 50%;
}

.store-catalog__logo-profile {
  font-size: 50px;
}

.store-catalog__display-name {
  font-size: 1.1rem;
  margin-left: 15px;
}

// .store-catalog__date-container {
//   margin-left: auto;
//   width: 150px;
//   outline: 1px solid black;
// }

// .store-catalog__store-entry-country {
//   width: 100%;
//   text-align: center;
// }

.store__main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: red;
}

.store__appbar {
  align-items: center;
  background-color: $primary;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.store__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  // min-width: 300px;
  // max-width: 500px;
  width: 100%;
  padding: 10px;
}

.store__country-input {
  width: 85%;
}

.store__title-input,
.store__textarea {
  border: 1px solid lightgray;
  &:focus {
    outline: none;
  }
}
.store__title-input {
  font-weight: 500;
  font-size: 20px;
  width: 90%;
  margin-bottom: 10px;
  color: $dark-gray;
  border-radius: 3px;
  text-indent: 10px;
}

.store__form-input-secundary {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.store__price-input {
  font-weight: 500;
  font-size: 20px;
  width: 80%;
  margin-bottom: 10px;
  color: $dark-gray;
  border-radius: 3px;
  text-indent: 10px;
  border: 1px solid lightgray;
}

.store__input-label {
  font-size: 20px;
  color: #555;
  margin-bottom: 0px;
}

.store__form-input {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.store__form-input-main {
  padding: 5px;
  background-color: unset;
  display: flex;
  flex-direction: row;
  background: unset;
  border-radius: 3px;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.store__form-input-title {
  display: flex;
  flex-direction: column;
  width: 200%;
  min-width: 500px;
  padding: 0px;
}

.store__date-input {
  width: 90%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid lightgray;
}

.store__form-input-date {
  display: flex;
  align-self: flex-start;
  min-width: 200px;
  flex-direction: column;
  // background-color: blue;
  width: 100%;
  padding: 0px;
}

.store__textarea {
  width: 100%;
  font-size: 20px;
  flex: 1 1 auto;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: $dark-gray;
}

.store__image-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.store__image-link img {
  box-shadow: 5px 5px lightgray;
  border-radius: 3px;
  margin-right: 10px;
}

.store__img-item {
  background-color: green;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.store__img-list-container {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: center;
}

.store__img-note {
  align-self: center;
  min-width: 100px;
  max-width: 250px;
}
