.store-setup__main-container {
  display: inline-flex;
  flex-direction: column;
  // justify-content: center;
  width: 100% !important;
  background-color: white;
  // align-items: center;
  position: relative;
  user-select: none;
  overflow-x: hidden;
  overflow-anchor: hidden;
}

.store-setup__section-enum {
  margin-left: 40px;
  font-size: 25px;
}
