.product-page__main-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.product-page__main-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 80px;
}

.product-page__images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 60%;
  overflow: hidden;
}

.product-page__showed-image {
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-page__down-scroll {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  height: 550px;
  background: transparent;
  align-items: center;
  min-width: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.product-page__down-scroll-item {
  width: 250px;
  padding-bottom: 5px;
}

.product-page__showed-img {
  height: 550px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-page__product-info {
  margin-left: 0px;
  width: 30%;
  flex-shrink: 5;
}

.product-page__product-name {
  margin-bottom: -15px;
}

.product-page__product-status {
  margin-top: 30px;
  margin-bottom: -15px;
}

.product-page__additional-info-title {
  font-weight: 800;
}

.product-page__add-to-cart-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: rgb(99, 99, 241);
  height: 80px;
  width: 100%;
  border-radius: 10px;
  outline: 1px solid darkgray;
}

.product-page__action-buttons {
  display: flex;
  flex-direction: column;
}
.product-page__action-button {
  height: 50px;
  width: 50px;
}

.product-page__purchased-quantity {
  align-self: center;
  margin-top: 0px;
  color: rgb(99, 52, 52);
}

.product-page__buy-button {
  background-color: lightgray;
  border: 1px solid darkgray;
  outline: none;
  color: rgb(6, 90, 24);
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-page__action-button {
  background-color: lightgray;
  border: 1px solid darkgray;
  font-weight: bold;
}

.product-page__action-button--add {
  border-top-left-radius: 10px;
}
.product-page__action-button--subtract {
  border-bottom-left-radius: 10px;
}

//Product Question
.product-question__container {
  border: 1px solid darkgray;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.product-question__question-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.product-question__customer-photo {
  border-radius: 50%;
  width: 70px;
}

.product-question__question-content {
  width: 80%;
}

.product-question__customer-name {
  margin: 10px;
}

.product-question__question {
  margin-left: 30px;
}

.product-question__question-date {
  position: absolute;
  top: 10px;
  right: 20px;
}

.product-question__answer-container {
  padding-left: 70px;
}

.product-question__separator {
  width: 90%;
  margin: auto;
}

.product-question__separator hr {
  height: 1px;
  color: lightgray;
}

.product-question__new-question-input {
  margin-left: 30px;
  width: 100%;
  max-height: 150px;
  min-height: 50px;
  resize: vertical;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.product-question__new-question-button {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 5px 20px;
  border: none;
  outline: 1px solid darkgreen;
  border-radius: 5px;
  background-color: rgb(235, 231, 231);
  font-weight: 600;
}

.product-question__new-question-button:hover {
  background-color: lightgreen;
}
