.product-page__main-container {
  width: 100%;
  overflow-x: hidden;
}

.product-page__main-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.product-page__images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.product-page__down-scroll {
  display: flex;
  flex-direction: column;
  height: 550px;
  background: transparent;
  align-items: center;
  min-width: 240px;
  overflow-y: scroll;
}

.product-page__down-scroll-item {
  width: 250px;
}

.product-page__showed-img {
  height: 550px;
  //   min-width: ;
}

.product-page__product-info {
  margin-left: 20px;
  min-width: 500px;
  flex-shrink: 5;
}
